* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #f9fdfb;
    color: #1f2937;
}
.navbar {
      background-color: white;
      height:70px;
      margin:0;
      font-weight: bold;
    }
/* HERO */
.hero {
    height: 15px;
    min-width: 50%;
    background: linear-gradient(120deg, #3b7f6c, #6fc3a5);
    display: flex;
    align-items: center;
    padding: 80px;
    color: white;
    position: relative;
}

.hero-content {
    max-width: 650px;
}

.hero h1 {
    font-size: 3.2rem;
    margin-bottom: 20px;
}

.hero h1 span {
    color: #ffd84d;
}

.hero p {
    font-size: 1.1rem;
    margin-bottom: 40px;
    line-height: 1.6;
}

.hero-buttons {
    display: center;
    gap: 20px;
}

.btn {
    padding: 14px 28px;
    border-radius: 40px;
    text-decoration: none;
    font-weight: 600;
}

.btn.primary {
    color: white;
    background: #1f9d6a;
    border-radius: 15px;
}

.btn.outline {
    border: 2px solid white;
    color: white;
}

.scroll-indicator {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    opacity: 0.8;
}

/* STATS */
.stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 80px;
}

.stat {
    background: white;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

.stat .icon {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #1f9d6a;
}

.stat h2 {
    font-size: 2.5rem;
    margin-bottom: 5px;
}

/* EVENTS */
.events {
    background: #ecfdf5;
    padding: 80px;
}

.events-header {
    text-align: center;
    margin-bottom: 50px;
}

.events-header h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.event-card {
    background: white;
    display: flex;
    gap: 25px;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 25px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

.event-icon {
    font-size: 2rem;
    color: #1f9d6a;
}

.event-content h3 {
    margin-bottom: 5px;
}

.event-date {
    color: #1f9d6a;
    font-weight: 600;
}

.event-content a {
    color: #1f9d6a;
    font-weight: 600;
    text-decoration: none;
}

/* ANIMATION */
.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}
.menu-card {
    display: block;
    background: white;
    padding: 35px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: #1f2937;
    height: 100%;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
    transition: all 0.3s ease;
}

.menu-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.08);
    color: #198754;
}

.menu-card .icon {
    font-size: 2.2rem;
    margin-bottom: 15px;
    color: #198754;
}

.menu-card h5 {
    font-weight: 700;
    margin-bottom: 5px;
}
.sous-text{
    margin-left: 15px;
}
.bi {
    font-size: 1.3rem;
    color: #198754; /* vert Bootstrap */
}
.following{
    margin: 25;
}
.Pres_resto{
    width: 10cm;
    margin-left: 0;
    background-color:#F5FFFA;
    background-attachment:scroll;
}
/* Onglets */
.tab {
    display: inline-block;
    background: #7fbf4d;
    color: #fff;
    padding: 10px 20px;
    font-weight: 600;
    margin-right: 5px;
    cursor: pointer;
}

.tab.active {
    background: #5fa032;
}

/* Carte */
.space-card {
    background: #e8f2c8;
    height: 100%;
}

.space-card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

/* Bande verte titre */
.card-title {
    background: #7fbf4d;
    color: #fff;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

/* Description */
.card-desc {
    padding: 20px;
    color: #4b78c2;
    font-size: 16px;
}
